<!--
    * @Author : 연은주
    * @Date : 2025-09-29
    * @Description : footer.html
    * @History :
        - footer.html 생성
        - footer 연결 작업 완료
        - footer 스타일 작업 필요
    * 2025-09-29 : 초기작성
-->

<div th:fragment="footer">
    <footer class="footer">
        <!-- <p>© 2025 SaveGreen. All rights reserved.</p> -->
         
    <div class="chatbot" title="챗봇">
      <img src="/img/chatbot.png" width="30" height="30" alt="Chatbot Icon">
    </div>

    <div class="chatbot-window hidden">
      <div class="chatbot-header">
        <span>SaveGreen 도우미</span>
        <button class="chatbot-close">&times;</button>
      </div>
      <div class="chatbot-body"></div>
    </div>

    </footer>
</div>
