<div th:fragment="header">
  <header id="menubar">
    <nav class="navbar">
      <div class="logo">SAVE GREEN</div>
      <ul class="nav-links">
        <li><a href="#">SERVICE</a></li>
        <li><a href="#">GREEN REMODELING</a></li>
        <li><a href="#">ENERGY SIMULATOR</a></li>
      </ul>
    </nav>

    <!-- 전체 드롭다운 메뉴 (한 번만 작성) -->
    <div class="dropdown-panel">
        <ul data-title="SERVICE">
            <li><a href="/service/text">녹색 건축물 / ZEB</a></li>
            <li><a href="/service">건물 정보 검색</a></li>
        </ul>
        <div></div>
        <ul data-title="GREEN REMODELING">
            <li><a href="/forecast">그린 리모델링</a></li>
        </ul>
        <ul data-title="ENERGY SIMULATOR">
            <li><a href="/simulator">시뮬레이터</a></li>
        </ul>
    </div>
  </header>

</div>
