<div th:fragment="header">
    <header>
        <nav class="navbar">
            <div class="logo">SAVE GREEN</div>
            <ul class="nav-links">
            <li class="dropdown">
                <a href="#">SERVICE</a>
                <ul class="dropdown-menu">
                <li><a href="#">녹색 건축물 / ZEB</a></li>
                <li><a href="#">건물 정보 검색</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#">GREEN REMODELING</a>
                <ul class="dropdown-menu">
                <li><a href="#">그린리모델링</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#">ENERGY SIMULATOR</a>
                <ul class="dropdown-menu">
                <li><a href="#">에너지 등급 계산기</a></li>
                <li><a href="#">태양광 패널 계산기</a></li>
                </ul>
            </li>
            </ul>
        </nav>
    </header>
</div>





