<!--
    * @Author : 연은주
    * @Date : 2025-09-29
    * @Description : header.html (헤더)
    * @History :
        - 헤더 구현 시작
        - 드롭다운 메뉴 구현 완료
        - index.html 연결 작업 완료
        - footer 연결 작업 완료
    * 2025-09-29 : 초기작성
-->
<div th:fragment="header">
  <header id="menubar" class="header">
    <nav class="navbar">
      <div class="logo"><img class="symbol_img img_center" src="/img/symbol_W.png"><img class="logo_img img_center" src="/img/saveGreen_Wlogo_02.png"></div>
      <ul class="nav-links">
        <li><a href="#">GREEN FINDER</a></li>
        <li><a href="#">GREEN REMODELING</a></li>
        <li><a href="#">ENERGY SIMULATOR</a></li>
      </ul>
    </nav>

    <!-- 전체 드롭다운 메뉴 (한 번만 작성) -->
    <div class="dropdown-panel">   
      <div class="logo_bk"><a href="/main"><img class="symbol_img img_center" src="/img/symbol_C.png"><img class="logo_img img_center"  src="/img/saveGreen_Blogo_02.png"></a></div>
        <ul data-title="GREEN FINDER">
            <li><a href="/GreenFinder/text">녹색 건축물 / ZEB</a></li>
            <li><a href="/GreenFinder">건물 정보 검색</a></li>
        </ul>
        <div></div>
        <ul data-title="GREEN REMODELING">
            <li><a href="/forecast">그린 리모델링</a></li>
        </ul>
        <ul data-title="ENERGY SIMULATOR">
            <li><a href="/simulator">시뮬레이터</a></li>
        </ul>
    </div>
  </header>

</div>
