.search-box {
  position: absolute;
  top: 70px;
  left: 20px;
  padding: 8px 12px;
  border: 1px solid #aaa;
  border-radius: 4px;
  width: 250px;
  z-index: 1000;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.service-container {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #ddd;
}

#vmap{
  width: 100%;
  height: 100%;
}

.search-box {
  position: absolute;
  top: 60px;
  left: 20px;
  padding: 8px 12px;
  border: 1px solid #aaa;
  border-radius: 4px;
  width: 250px;
}

.popup {
  display: none; /* 기본 숨김 */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2000;
  background: white;
  border: 1px solid #333;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
  padding: 20px;
}

.popup img {
  max-width: 100%;
  height: auto;
  display: block;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  border: none;
  background: transparent;
  font-size: 20px;
  cursor: pointer;
}


#popup{
   position: absolute;
    display: none;
    background: white;
    border: 1px solid #888;
    padding: 8px;
    border-radius: 6px;
    font-size: 13px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
    z-index: 1000;
}