
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Simulator</title>
    <link rel="stylesheet" th:href="@{/css/simulator.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

  
    <div th:replace="layouts/header :: header"></div>
<div id="introText">건물의 에너지 사용 데이터를 기반으로, 녹색건축물·ZEB 전환 시 필요한 설비 규모와 <strong>절세·탄소 절감 효과</strong>를 예측하는 시뮬레이터</div>

<div class="simulator-index">
    <div class="simulator-wrapper">  
    <section class="simulator-container">
        <div class="simulator-input">
            <h3>에너지 효율 등급 시뮬레이터</h3>
            <form id="simulatorForm" th:action="@{/simulate}" method="post">
                <div class="form-group">
                    <img class="icon" src="/img/location.png" alt="Location Icon">
                    <label></label>
                    <input type="text" name="address" placeholder="주소(선택)">
                </div>
                <div class="form-group">
                    <img class="icon" src="/img/area.png" alt="Area Icon">
                    <label>m²</label>
                    <input type="number" name="area" placeholder="건물 면적" required title="건물 면적을 입력하세요">
                </div>
                <div class="form-group">
                    <img class="icon" src="/img/battery.png" alt="Battery Icon">
                    <label>kWh/년</label>
                    <input type="number" name="energy" placeholder="에너지" required title="에너지 사용량을 입력하세요">
                </div>
                <div class="form-group">
                    <img class="icon" src="/img/solarpanel.png" alt="Solar Panel Icon">
                    <label>개수</label>
                    <input type="number" name="panelCount" placeholder="태양광 패널 개수(선택)">
                </div>
                <div class="form-group">
                    <img class="icon" src="/img/electric.png" alt="Electric Icon">
                    <label>W</label>
                    <input type="number" name="panelPower" placeholder="태양광 패널 정격출력(선택)">
                </div>
                <button type="submit" class="btn-submit">결과보기</button>
            </form>
        </div>        
    </section>
    <section class="simulator-result" id="resultBox" style="display: none;">
        <h3 id="result-text">시뮬레이션 결과</h3>
        <ul>
            <li>에너지 효율 등급: <span id="grade"></span></li>
            <li>녹색 건축물 등급: <span id="category"></span></li>
            <li>에너지 자립도: <span id="energySelf"></span>%</li>
            <li>ZEB 등급: <span id="zebGrade"></span></li>
            <li>재산세 감면: <span id="propertyTax"></span>%</li>
            <li>취득세 감면: <span id="acquireTax"></span>%</li>
            <li>건물 기준 완화: <span id="areaBonus"></span>%</li>
            <li>제도 인증비용 감면: <span id="certificationDiscount"></span>%</li>
            <li>신재생에너지 설치 지원 여부: <span id="renewableSupport"></span></li>
        </ul>
    </section>
    </div>
    



    <div class="simulator-wrapper">  
    <section class="simulator-container">
        <div class="simulator-input">
            <h3>태양광 에너지 효율·경제성 시뮬레이터</h3>
            <form id="simulatorForm" th:action="@{/simulate}" method="post">
                <div class="form-group">
                    <img class="icon" src="/img/location.png" alt="Location Icon">
                    <label></label>
                    <input type="text" name="address" placeholder="주소">
                </div>
                <div class="form-group">
                    <img class="icon" src="/img/area.png" alt="Area Icon">
                    <label>m²</label>
                    <input type="number" name="area" placeholder="건물 면적">
                </div>

                
                <div class="form-row">
                    <select>
                        <option value="">건물 등급 (현재)</option>
                        <option value="1">1+++등급</option>
                        <option value="2">1++등급</option>
                        <option value="3">1+등급</option>
                        <option value="4">1등급</option>
                        <option value="5">2등급</option>
                        <option value="6">3등급</option>
                        <option value="7">4등급</option>
                        <option value="8">5등급</option>
                        <option value="9">6등급</option>
                        <option value="10">7등급</option>
                    </select>

                    <select>
                        <option value="">건물 등급 (목표)</option>
                        <option value="1">1+++등급</option>
                        <option value="2">1++등급</option>
                        <option value="3">1+등급</option>
                        <option value="4">1등급</option>
                        <option value="5">2등급</option>
                        <option value="6">3등급</option>
                        <option value="7">4등급</option>
                        <option value="8">5등급</option>
                        <option value="9">6등급</option>
                        <option value="10">7등급</option>
                    </select>
                </div>

                
                <div class="form-group">
                    <img class="icon" src="/img/electric.png" alt="Electric Icon">
                    <label>W</label>
                    <input type="number" name="panelPower" placeholder="태양광 패널 정격출력(선택)">
                </div>
                <button type="submit" class="btn-submit" id="right">결과보기</button>
            </form>
        </div>
        
        


        <div id="resultBox" class="simulator-result" style="display:none;">
            <h3>시뮬레이션 결과</h3>
            <ul>
                <li>에너지 효율 등급: <span id="grade"></span></li>
                <li>녹색 건축물 등급: <span id="greenGrade"></span></li>
                <li>에너지 자립도: <span id="energySelf"></span>%</li>
                <li>ZEB 등급: <span id="zebGrade"></span></li>
                <li>재산세 감면: <span id="propertyTax"></span>%</li>
                <li>취득세 감면: <span id="acquireTax"></span>%</li>
                <li>건물 기준 완화: <span id="areaBonus"></span>%</li>
            </ul>
        </div>
    </section>
    </div>
</div>
   
    <div th:replace="layouts/footer :: footer"></div>
<script th:src="@{/js/simulator.js}"></script>
</body>
</html>
